@import url(/assets/VeraMono.ttf);

body {
  padding:30px 10px 10px 10px;
  font:12px "Bitstream Vera Sans Mono", "VeraMono", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#555;
  font-weight:300;
  background:#eee;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 .3em 0;
}

h1#title {
  line-height:1.3;
  margin:0 0 1em 0;
  font-size:2em;
  text-align: center;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:1.7em;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a:hover {
  color:#069;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

a:hover small {
  color:#777;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}


td {
  padding:2px 5px;
  border-bottom:1px solid #e5e5e5;
}

td:last-child {
  text-align:justify;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
  border-bottom:1px solid #d5d5d5;
}

img {
  max-width:100%;
}

strong {
  color:#222;
  font-weight:700;
}

section {
  max-width:40em;
  margin:auto;
  text-align:left;
}

section p {
  text-align:justify;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

a[href^="http"]:after {
  margin-left:4px;
  content:url(/assets/external-link.png);
}

@media print {
  
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow:none !important;
    text-shadow: none !important;
  }
  
  a, a:visited {
    font-weight: bold;
    text-decoration: none;
  }

  a[href^="http"]:after {
    content: " (" attr(href) ")";
    word-break:break-all;
  }
  
  body {
    font-size:10pt;
  }
  li, table, p {
    page-break-inside: avoid;
  }
  
  p, h1 {
    page-break-after: avoid;
  }
  @page {
    margin-top: .5in;
    margin-bottom: .5in;
    margin-left:auto;
    margin-right:auto;
  }
}

@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);