body {
  padding:30px 10px 10px 10px;
  font:12px "Bitstream Vera Sans Mono", "VeraMono", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#555;
  font-weight:300;
  background:#eee;
  text-align: justify;
}

h1#title {
  line-height:1.3;
  margin:2em 0;
  font-size:2em;
  text-align: center;
}

td:last-child {
  text-align:justify;
}

section {
  max-width:40em;
  margin:auto;
  text-align:left;
}

@media screen {
  a[href^="http"] {
    padding-right:12px;
    background: no-repeat right center url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAABGdBTUEAANbY1E9YMgAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAJUExURZmZmczMzAAAANmeCzsAAAADdFJOU///ANfKDUEAAAAySURBVHjaTIxRDgAACEHp/oeOtJYPe02gJEQiIvf5RgzK6B/jUHoE7dNwehP1JowtwAAXDABpSdB7KgAAAABJRU5ErkJggg==);
  }
}

@media print {
  
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow:none !important;
    text-shadow: none !important;
  }
  
  a, a:visited {
    font-weight: bold;
    text-decoration: none;
  }

  a[href^="http"]:after {
    content: " (" attr(href) ")";
    word-break:break-all;
    font-weight: normal;
    text-decoration: none;
  }
  
  body {
    font-size:10pt;
  }
  li, table, p {
    page-break-inside: avoid;
  }
  
  p, h1 {
    page-break-after: avoid;
  }

  section p.caption span {
    background:#eee !important;
  }
  
  div.ref {
    display:none
  }
  
  @page {
    margin-top: .5in;
    margin-bottom: .5in;
    margin-left:auto;
    margin-right:auto;
  }
}