@import url(/assets/VeraMono.ttf);

table, pre {
  margin:.8em 0 .8em 0;
}

ul, ol, dl {
  margin-bottom:1.5em;
}

h1 {
  margin:1.5em 0 0 0;
  color:#222;
  font-size:1.6em;
  line-height:1.1;
}

h2 {
  color:#393939;
  font-size:1.5em;
  margin:1.1em 0 0 0;
  line-height:1.1;
}

h3 {
  color:#494949;
  font-size:1.3em;
  margin:1em 0 0 0;
  line-height:1.1;
}

h4 {
  color:#494949;
  font-size:1.1em;
  margin:1em 0 0 0;
}

h5 {
  color:#494949;
  font-size:1em;
  text-transform: uppercase;
  margin:1em 0 0 0;
}

h6 {
  color:#494949;
  font-size:.8em;
  margin:1em 0 0 0;
  text-transform: uppercase;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a:hover {
  color:#069;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

a:hover small {
  color:#777;
}

img {
  max-width:100%;
}

table {
  width:100%;
  border-collapse:collapse;
}

td {
  padding:2px 5px;
  border-bottom:1px solid #e5e5e5;
}

th {
  color:#444;
  border-bottom:1px solid #d5d5d5;
}

dt {
  color:#444;
  font-weight:700;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

blockquote {
  border-left:1px solid #C5C5C5;
  margin:0 0 1em 0;
  padding:0 0 0 1em;
}

blockquote p {
  margin:0;
  padding:0;
  font-style:italic;
}

blockquote blockquote {
  border:0;
  padding:0;
  font-size:10px;
}

code, pre {
  font-family:Monaco, "Bitstream Vera Sans Mono","VeraMono", "Lucida Console", Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

section p {
  text-align:justify;
}

strong {
  color:#222;
  font-weight:700;
}

section p.caption {
  margin:0;
  padding:0;
  text-align:center;
  color:black;
  font:12px "Lucida Console", Terminal;
}

section p.caption span {
  display:block;
}

@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);